@model ProjetoAviao.Models.AviaoView
@{
    ViewData["Title"] = "Cadastrar Avião";
}

<h2>Cadastrar Aviões</h2>

@if (TempData["Mensagem"] != null)
{
    <div class="alert alert-success">@TempData["Mensagem"]</div>
}

<form asp-controller="Aviao" asp-action="Cadastrar" method="post" class="mt-4">
    <div class="form-group">
        <label asp-for="Aviacao"></label>
        <input asp-for="Aviacao" class="form-control" />
        <span asp-validation-for="Aviacao" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Tipo"></label>
        <input asp-for="Tipo" class="form-control" />
        <span asp-validation-for="Tipo" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Origem"></label>
        <input asp-for="Origem" class="form-control" />
        <span asp-validation-for="Origem" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Conexao"></label>
        <input asp-for="Conexao" class="form-control" />
        <span asp-validation-for="Conexao" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Destino"></label>
        <input asp-for="Destino" class="form-control" />
        <span asp-validation-for="Destino" class="text-danger"></span>
    </div>

    <div class="row">
        <div class="col-md-4">
            <label for="ativo" class="form-label">Status</label>
            <select class="form-select" asp-for="Ativo">
                <option value="">Selecione ativo</option>
                <option value="1">Ativo</option>
                <option value="0">Inativo</option>
            </select>
            <span asp-validation-for="Ativo" class="text-danger"></span>
        </div>
    </div>

    <button type="submit" class="btn btn-primary mt-3">Cadastrar</button>
</form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}