@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem-vindo ao Sistema de Aviação</h1>
    <p>Nosso compromisso é desenvolver sempre os melhores projetos, com foco no crescimento sólido e dedicado. Evoluímos continuamente, com essência e propósito, para oferecer dedicando o melhor como profissional. Sempre estudando!</p>
</div>
