@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome do Sistema de Aviação</h1>
    <p>Desenvolver sempre o melhor projeto para o cerscimento, aprofundado num crescimentio dedicavel , semrpe evoluindo com Essência para resolver problemas!</p>
</div>
